<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.hope.dao.DownloadInfoMapper">

    <resultMap type="cc.mrbird.febs.hope.domain.DownloadInfo" id="DownloadInfoMap">
        <id property="downloadId" column="download_id" jdbcType="INTEGER"/>
        <result property="downloadName" column="download_name" jdbcType="VARCHAR"/>
        <result property="downloadType" column="download_type" jdbcType="VARCHAR"/>
        <result property="videoType" column="video_type" jdbcType="VARCHAR"/>
        <result property="shellPath" column="shell_path" jdbcType="VARCHAR"/>
        <result property="agent" column="agent" jdbcType="VARCHAR"/>
        <result property="downloadUrl" column="download_url" jdbcType="VARCHAR"/>
        <result property="downloadEnable" column="download_enable" jdbcType="VARCHAR"/>
        <result property="downloadPath" column="download_path" jdbcType="VARCHAR"/>
        <result property="downloadStart" column="download_start" jdbcType="VARCHAR"/>
        <result property="downloadEnd" column="download_end" jdbcType="VARCHAR"/>
        <result property="downloadAllEnd" column="download_all_end" jdbcType="VARCHAR"/>
        <result property="afterShellPath" column="after_shell_path" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="downloadDesc" column="download_desc" jdbcType="VARCHAR"/>
        <result property="engineId" column="engine_id" jdbcType="INTEGER"/>
        <result property="cycleType" column="cycle_type" jdbcType="VARCHAR"/>
        <result property="engineName" column="engine_name" jdbcType="VARCHAR"/>
        <result property="channelCount" column="channel_count" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询指定行数据-->
    <select id="queryList" resultMap="DownloadInfoMap" parameterType="downloadInfo">
        SELECT
        DISTINCT
        ei.engine_name,
        di.*,
        count(ui.channel_name) AS channel_count
        from download_info di
        left join upload_info ui on di.download_name = ui.download_name
        left join engine_info ei on di.engine_id = ei.engine_id
        where 1=1
        <if test="downloadInfo.engineName != null and downloadInfo.engineName != ''">
            and ei.engine_name = #{downloadInfo.engineName}
        </if>
        <if test="downloadInfo.downloadName != null and downloadInfo.downloadName != ''">
            and di.download_name  like concat('%', #{downloadInfo.downloadName}, '%')
        </if>
        <if test="downloadInfo.downloadType != null and downloadInfo.downloadType != ''">
            and di.download_type = #{downloadInfo.downloadType}
        </if>
        <if test="downloadInfo.videoType != null and downloadInfo.videoType != ''">
            and di.video_type = #{downloadInfo.videoType}
        </if>

        <if test="downloadInfo.downloadEnable != null and downloadInfo.downloadEnable != ''">
            and di.download_enable = #{downloadInfo.downloadEnable}
        </if>
        <if test="downloadInfo.createTime != null">
            and di.create_time = #{downloadInfo.createTime}
        </if>
        <if test="downloadInfo.downloadDesc != null and downloadInfo.downloadDesc != ''">
            and di.download_desc = #{downloadInfo.downloadDesc}
        </if>
        group by
        di.download_name,
        ui.channel_name
    </select>

    <select id="queryDownloadInfoByChannelName" resultType="map">
        select ei.engine_id,ei.engine_name,di.download_name,di.download_type,di.download_enable from download_info di
        inner join upload_info ui on di.download_name = ui.download_name
        inner join engine_info ei on di.engine_id = ei.engine_id
        where ui.channel_name=#{channelName} order by ui.create_time desc
    </select>

    <select id="statistics" resultType="map">
        select download_type,count(download_type) as download_count from download_info
        where download_enable='true'group by download_type
    </select>

</mapper>

