<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.hope.dao.UploadInfoMapper">

    <!--查询主数据列表-->
    <select id="queryList" resultType="uploadInfo" parameterType="uploadInfo">
        select ui.*,
        di.download_type,
        ci.channel_type,
        ci.cookie_enable
        from upload_info ui
        left join download_info di on ui.download_name = di.download_name
        left join channel_info ci on ui.channel_name  = ci.channel_name
        where 1=1
        <if test="uploadInfo.channelType != null and uploadInfo.channelType != ''">
            and ci.channel_type = #{uploadInfo.channelType}
        </if>
        <if test="uploadInfo.downloadType != null and uploadInfo.downloadType != ''">
            and di.download_type = #{uploadInfo.downloadType}
        </if>
        <if test="uploadInfo.cookieEnable != null and uploadInfo.cookieEnable != ''">
            and ci.cookie_enable = #{uploadInfo.cookieEnable}
        </if>
        <if test="uploadInfo.uploadEnable != null and uploadInfo.uploadEnable != ''">
            and ui.upload_enable = #{uploadInfo.uploadEnable}
        </if>
        <if test="uploadInfo.uploadName != null and uploadInfo.uploadName != ''">
            and ui.upload_name  like concat('%', #{uploadInfo.uploadName}, '%')
        </if>
    </select>


</mapper>

