<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.hope.dao.UploadInstanceMapper">

    <resultMap type="cc.mrbird.febs.hope.domain.UploadInstance" id="UploadInstanceMap">
        <id property="instanceId" column="instance_id" jdbcType="VARCHAR"/>
        <result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
        <result property="uploadName" column="upload_name" jdbcType="VARCHAR"/>
        <result property="downloadName" column="download_name" jdbcType="VARCHAR"/>
        <result property="channelType" column="channel_type" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="uploadDate" column="upload_date" jdbcType="VARCHAR"/>
        <result property="videoName" column="video_name" jdbcType="VARCHAR"/>
        <result property="uploadCmd" column="upload_cmd" jdbcType="VARCHAR"/>
        <result property="uploadLog" column="upload_log" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="videoUrl" column="video_url" jdbcType="VARCHAR"/>
        <result property="uploadOverflow" column="upload_overflow" jdbcType="INTEGER"/>
        <result property="videoPath" column="video_path" jdbcType="VARCHAR"/>
        <result property="engineName" column="engine_name" jdbcType="VARCHAR"/>
        <result property="lastFailDate" column="last_fail_date" jdbcType="VARCHAR"/>
        <result property="failCount" column="fail_count" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询主数据列表-->
    <select id="queryList" resultType="uploadInstance" parameterType="uploadInstance">
        select
        ui.instance_id ,
        ui.upload_overflow ,
        ui.channel_type ,
        ui.download_name ,
        ui.upload_name ,
        ui.video_path ,
        ui.modify_time ,
        ui.video_url ,
        ui.upload_date ,
        ui.create_time ,
        ui.video_name ,
        ui.upload_name ,
        ui.channel_name ,
        ui.engine_name ,
        ui.status
        from upload_instance ui
        where 1=1
        <if test="uploadInstance.uploadDate != null and uploadInstance.uploadDate != ''">
            and ui.upload_date = #{uploadInstance.uploadDate}
        </if>
        <if test="uploadInstance.channelType != null and uploadInstance.channelType != ''">
            and ui.channel_type = #{uploadInstance.channelType}
        </if>
        <if test="uploadInstance.channelName != null and uploadInstance.channelName != ''">
            and ui.channel_name like concat('%', #{uploadInstance.channelName}, '%')
        </if>
        <if test="uploadInstance.status != null and uploadInstance.status != ''">
            and ui.status = #{uploadInstance.status}
        </if>

    </select>


    <!--失败排行列表-->
    <select id="queryFailList" resultMap="UploadInstanceMap" parameterType="uploadInstance">
        select ui.channel_name,ui.channel_type,ui.download_name,
               ui.engine_name, ui.video_name,ui.video_path,
               max(ui.upload_date) as last_fail_date,
               count(video_name) as fail_count
        from upload_instance ui
        where 1=1 and ui.status= '1'
            <if test="uploadInstance.channelName != null and uploadInstance.channelName != ''">
                and ui.channel_name like concat('%', #{uploadInstance.channelName}, '%')
            </if>
            <if test="uploadInstance.channelType != null and uploadInstance.channelType != ''">
                and ui.channel_type = #{uploadInstance.channelType}
            </if>
        group by ui.video_path,
                 ui.channel_name,
                 ui.channel_type,
                 ui.download_name,
                 ui.video_name,
                 ui.engine_name
    </select>

    <select id="queryTrend" resultType="map" parameterType="uploadInstance">
        select * from (
        select
        upload_date,
        count(1) as upload_count,
        sum(case when ui.status='1' then 1 else 0 end) as error_count,
        sum(case when ui.status='2' then 1 else 0 end) as uploading_count,
        sum(case when ui.status='3' then 1 else 0 end) as init_count,
        sum(case when ui.status='0' then 1 else 0 end) as success_count
        from upload_instance ui
        where 1=1
        <if test="uploadInstance.channelName != null and uploadInstance.channelName != ''">
            and ui.channel_name = #{uploadInstance.channelName}
        </if>
        <if test="uploadInstance.channelType != null and uploadInstance.channelType != ''">
            and ui.channel_type = #{uploadInstance.channelType}
        </if>
        group by ui.upload_date order by ui.upload_date  desc limit 30
        ) t1 order by upload_date
    </select>

    <select id="queryFailLog" resultType="map" parameterType="string">
        select create_time,upload_cmd,upload_log from upload_instance where engine_name=#{engineName}
        and video_path=#{videoPath}
        and status ='1'
        order by create_time desc
    </select>

    <select id="deleteInstance" resultType="integer" parameterType="string">
        delete from upload_instance where engine_name=#{engineName} and video_path=#{videoPath} and status ='1'
    </select>

</mapper>

